<style>
.donaciones-botones {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}
.donaciones-botones p {
    margin-bottom: 0;
    text-align: center;
}
</style>

<!-- a los scripts de MP hay que agregarle async así no cuelgan el site -->
<div class="donaciones-botones">
    <div>
    <p>$1000</p>
    <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" data-preference-id="303166691-0980ae34-f4f5-4c37-8ef2-c4e0da92f15c" data-source="button"></script>
    </div>

    <div>
    <p>$2000</p>
    <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" data-preference-id="303166691-9baf75cd-3bb3-41ca-bd17-ee30a6ef1dc5" data-source="button"></script>
    </div>

    <div>
    <p>$5000</p>
    <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js" data-preference-id="303166691-1339e8c7-8804-4238-814f-036b4a1441c2" data-source="button"></script>
    </div>
</div>
<p></p>