<div id="donations-monthly" class="form-group">
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-monthly" value="http://mpago.la/gl8z" checked>
      Subscripción mensual de $ 500
    </label>
  </div>
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-monthly" value="http://mpago.la/eAeX">
      Subscripción mensual de $ 1000
    </label>
  </div>
  <div class="radio">
    <label>
      <input class="form-control" type="radio" name="donations-monthly" value="http://mpago.la/32JY">
      Subscripción mensual por otro monto
    </label>
  </div>

  {% include donations-button.html %}
</div>

