<nav class="col-12 col-lg-6">
  <ul class="d-flex justify-content-center">
    {% assign site_pages = site.pages | sort:"nav_order" %}

    {% for node in site_pages %}
      {% if node.group == "navigation" %}
        {% assign resolvedUrl = node.external_url | default: node.url  %}

        {% if page.url == node.url %}
          <li class="active"><a href="{{resolvedUrl}}">{{node.nav_text}}</a></li>
        {% else %}
          <li><a href="{{resolvedUrl}}">{{node.nav_text}}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>

