<nav class="col-12 col-lg-6" id="menu">  
  <ul class="d-flex justify-content-center mobile-menu">
    {% assign site_pages = site.pages | sort:"nav_order" %}

    {% for node in site_pages %}
      {% if node.group == "navigation" %}
        {% if node.pagina_externa %}
          <li><a href="{{node.pagina_externa}}" target="_blank">{{node.nav_text}}</a></li>
        {% else %}
          {% assign resolvedUrl = node.external_url | default: node.url  %}

          {% if page.url == node.url %}
            <li class="active"><a href="{{resolvedUrl}}">{{node.nav_text}}</a></li>
          {% else %}
            <li><a href="{{resolvedUrl}}">{{node.nav_text}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>

